/* Elements */

body {
  background: #485167;
  font-size: 15px;
}

label {
  margin: 5px;
  padding: 15px;
}

input, textarea, select {
  width: 500px;
  margin-top: 10px;
}

button {
  margin: 25px;
}

h1 {
  text-align: center;
  color: #EAE6DA;
}

fieldset {
  border: none;
  color: #EAE6DA;
}

/* Classes */

.journalInputs {
  display: flex;
  flex-direction: column;
  border: 3px solid #A9754F;
  border-radius: 15px;
}

.journal {
  display: flex;
  justify-content: center;
}

.entryLog {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  color: #EAE6DA;
}

.dayEntry {
  display: flex;
  flex-direction: column;
  width: 500px;
  border-radius: 15px;
}

/* ID's */